.bomba {
  width: 70%;
  height: 85%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 1.5vw;
  border: solid 1.5vh #181818;
  background-image: url("../../../img/bomba/bg.png");
  background-size: 100%;
  background-blend-mode: soft-light;
  transition: transform 0.5s ease; /* Aggiungi una transizione per l'animazione */
}

.dietro {
  display: none;
}
