.bomba {
  width: 70%;
  height: 85%;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 1.5vw;
  border: solid 1.5vh #181818;
  animation: 0.4ms ease-in-out all;
}

.dietro {
  display: none;
  transform: rotateY(180deg);
}

@keyframes rotateBomb {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
