* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bomba {
    width: 70%;
    height: 85%;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 1.5vw;
    border: solid 1.5vh #181818;
    background-size: 100%;
    animation: 0.4ms ease-in-out all;
}

.container-modulo {
    border-radius: 1vw;
    border: solid 1vh #3d3d3d;
    width: 30%;
    aspect-ratio: 1/1;
    background-color: #777;
}

.dietro {
    display: none;
    transform: rotateY(180deg);
}

button {
    position: absolute;
    right: 2%;
    height: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
}