@font-face {
    font-family: "Shotling";
    src: url(../fonts/Shotling.ttf) format("truetype");
}

@font-face {
    font-family: "Crushed";
    src: url(../fonts/Crushed.ttf) format("truetype");
}

h1.customfont {
    font-family: "Shotling";
    text-shadow: 0px 0px 2vh rgba(255, 255, 255, 0.763);
    font-size: 4vw;
}

h2.customfont {
    font-family: "Crushed";
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.screen {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.menu {
    padding: 5vw;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.menu h1 {
    letter-spacing: 0.8vw;
    display: block;
    margin-bottom: 0.5em;
}

.menu h3 {
    font-weight: 300;
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 0.1vw;
    position: relative;
}

.menu h3::before {
    left: 0;
}

.menu h3::after {
    right: 0;
}

.menu ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-left: 0.5vw;
    font-size: 1.2vw;
}

.menu li {
    width: 100%;
    margin: 0.5em 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#fs {
    position: absolute;
    margin: 0em;
    font-size: 1.5vw;
    color: white;
    margin-left: 0.5vw;
    cursor: default;
}

#sound {
    position: absolute;
    margin: 0em;
    font-size: 1.5vw;
    color: white;
    margin-left: 0.5vw;
    cursor: pointer;
}

.menu li a:hover,
#sound:hover {
    color: rgb(128, 224, 243);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

#volumeRange {
    width: 10vw;
    cursor: pointer;
    height: 5vw;
}