.timer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, #0f1417 50%, #1f292e 50%, #172024 100%);
    border-radius: 0.4vw;
}

.timer .errori {
    height: 25%;
    width: 50%;
    border: 1vh inset rgb(105, 105, 105);
    background: radial-gradient(50% 50% at 50% 50%, #292929 0%, #000000 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: timer;
    color: rgb(235, 18, 18);
    font-size: 4.7vw;
    text-shadow: 0px 0px 1vh rgba(216, 51, 51, 0.763);
}


@font-face {
    font-family: timer;
    src: url("/css/fonts/timerfont.ttf");
}

@font-face {
    font-family: error;
    src: url("/css/fonts/xfont.ttf");
}

.timer .display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    color: rgb(235, 18, 18);
    font-size: 8vw;
    text-shadow: 0px 0px 1vh rgba(216, 51, 51, 0.763);
    font-family: timer;
    z-index: 1;
    border: 1vh inset rgb(105, 105, 105);
}

.timer .display2 {
    position: absolute;
    /* Position the second display behind the original one */
    bottom: 17.5%;
    left: 0;
    z-index: 0;
    background: radial-gradient(50% 50% at 50% 50%, #292929 0%, #000000 100%);
    text-shadow: none;
    /* Place it behind the original display */
    color: rgba(63, 12, 12, 0.613);
    /* Adjust color for visibility */
}