@font-face {
  font-family: gira;
  src: url(/css/fonts/greco.ttf);
}

.gira-button {
  position: absolute;
  right: 1.9vw;
  /* 2% of the viewport width */
  height: 10vw;
  /* 20% of the viewport height */
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
  font-family: gira;
  font-size: 3vw;
  /* 16px relative to viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  /* 2px relative to viewport width */
  background-image: url("../moduli/img/press-it/pngwing.com.png");
  background-size: cover;
  filter: grayscale();
  text-shadow: 0.1667vw 0.1667vw 1vh rgba(255, 108, 108, 1);
  /* 5px relative to viewport width for the shadow */
}

button:hover {
  background-color: #2980b9;
}

button:active {
  transform: scale(0.95);
  transition: none;
}