button {
  position: absolute;
  right: 2vw;
  /* 2% of the viewport width */
  height: 20vh;
  /* 20% of the viewport height */
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  background-color: #3498db;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 1.6vw;
  /* 16px relative to viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  /* 2px relative to viewport width */
  text-shadow: 0 0 0.5vw #2980b9;
  /* 5px relative to viewport width for the shadow */
}

button:hover {
  background-color: #2980b9;
}

button:active {
  transform: scale(0.95);
  transition: none;
}