.memory-module {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.memory-module .display-memory {
    width: 70%;
    height: 70%;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    column-gap: 3%;
    border-radius: 0.4vw;
}

.display-memory .memory-square {
    border-radius: 0.4vw;
    background-color: #30657a;
    width: 30%;
    height: 30%;
}