.container-modulo {
  border-radius: 1vw;
  border: solid 1vh #222;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: #5b5b5b;
  z-index: 1;
}

.complete {
  pointer-events: none;
  filter: brightness(0.3);
  transition: filter 0.5s ease-in-out;
}