.message-container {
    position: absolute;
    bottom: 10vw;
    right: -30%;
    width: 45%;
    height: 5vw;
    background-color: #18181b;
    color: white;
    z-index: 2;
    display: flex;
    border-radius: 0.7vw 0vw 0vw 0vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.message-container.show::after {
    content: "";
    width: 100%;
    height: 0.3vw;
    position: absolute;
    background-color: rgb(255, 0, 0);
    bottom: -0.3vw;
    left: 0;
    animation: cooldown-animation 15s linear;
    /* adjust timing as needed */
}

@keyframes cooldown-animation {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}


.message-container .icons {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.message-container .icons .icon {
    width: 25%;
    aspect-ratio: 1/1;
    filter: invert() opacity(0.5);
    cursor: pointer;
}

.message-container .icons .icon:hover {
    filter: opacity(1) invert();
}

.message-container .text-container {
    border-left: 0.5vw solid #9146FF;
    width: 70%;
    height: 100%;
    display: flex;
    padding: 2vw;
    font-size: 1.1vw;
}

.message-container .text-container span {
    color: #3db974;
}


@keyframes cooldown {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@keyframes appear-message {
    from {
        right: -45%
    }

    to {
        right: 0;
    }
}

@keyframes disappear-message {
    from {
        right: 0%
    }

    to {
        right: -45%;
    }
}