@font-face {
    font-family: "Explosion";
    src: url(../fonts/esplosione.ttf) format("truetype");
}


.menu-container {
    position: absolute;
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 2vh;
    z-index: 999;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2vh 7vh rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1vh solid rgba(255, 255, 255, 1);
    font-family: "Outline", sans-serif;
}

.vittime {
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vittime span {
    margin: 2vw;
    font-size: 2.8vw;
    font-weight: bolder;
}

.codice span {
    margin: 2vw;
    font-size: 2.8vw;
    font-weight: bolder;
    font-family: "Outline", monospace;
    letter-spacing: 0.3vw;
}

.famous-list {
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-weight: lighter;
    height: 30%;
}

.famous-list .list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

.famous-list span {
    margin: 0.4vw;
    font-size: 2vw;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    user-select: all;
    cursor: text;
    z-index: 999;
}

.menu-container h1 {
    font-family: Explosion;
    font-size: 3.5vw;
    color: rgb(184, 18, 18); /* Colore del testo (rosso) */
    text-shadow: 0.2vw 0.2vw 0 black; /* Contorno del testo (nero) */
    
}

.buttons {
    bottom: 0;
    width: 90%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons * {
    width: 50%;
    height: 100%;
}

.buttons a button {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.menu-buttons {
    background: #fff;
    border: none;
    padding: 1vw 2vw;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: 600;
    width: 40%;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

.menu-buttons span {
    display: inline-block;
    transform: skew(21deg);
}

.menu-buttons::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(10, 10, 10);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.menu-buttons:hover {
    color: #fff;
}

.menu-buttons:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

.codice {
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}